//
// RTL: Pages / Error pages
//
// --------------------------------------------------

&.page-404 .search-form,
&.page-500 .search-form {
  .search-input,
  .search-btn {
    float: right;
  }

  .search-btn {
    margin-left: 0;
    margin-right: 10px;
  }
}
