//
// RTL: Pages / Sign Up Alt
//
// --------------------------------------------------

&.page-signup-alt {
  padding-bottom: 40px;

  .signup-header {
    padding-left: 0;
    padding-right: 16px;

    .btn {
      left: 16px;
      right: auto;
    }
  }
}

@media (min-width: @screen-small) {
  &.page-signup-alt {
    .signup-header {
      padding-right: 0;
      text-align: center;
    }
  }
}
