//
// Pages / Sign Up Alt
//
// --------------------------------------------------

.page-signup-alt {
  padding-bottom: 40px;

  .form-header {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    margin: 40px 0;
  }

  .panel {
    margin: 0 16px;
    padding: 20px;
  }

  .signup-with {
    margin: 0 14px;
    padding: 20px;
    text-align: center;

    .header {
      font-size: 16px;
      font-weight: 300;
      text-align: center;
      margin: 0 0 20px 0;
    }

    .btn {
      padding-left: 0;
      padding-right: 0;
      width: 40px;
      text-align: center;
    }
  }
}

@media (min-width: @screen-small) {
  .page-signup-alt {
    .signup-header {
      padding-left: 0;
      text-align: center;
    }

    .panel {
      width: 360px;
      margin: 0 auto;
      padding: 27px;
    }

    .signup-with {
      width: 360px;
      margin: 0 auto;
    }
  }
}