//
// RTL: Widgets / Comments
// --------------------------------------------------

.widget-comments {
  .comment-avatar {
    float: right;
  }

  .comment-body {
    margin-left: 0;
    margin-right: 45px;
  }

  .comment-actions {
    i {
      margin-left: 5px;
      margin-right: 0;
    }

    a {
      margin-left: 10px;
      margin-right: 0;
    }
  }
}