//
// RTL: Widgets / Notifications
// --------------------------------------------------

.widget-notifications {
  .notification-title,
  .notification-description,
  .notification-ago {
    margin-left: 35px;
    margin-right: 0;
  }

  .notification-icon {
    left: 0;
    right: auto;
    margin-left: 12px;
    margin-right: 0;
  }
}